@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  @apply box-border p-0 m-0 no-underline font-poppins;
}

body {
  @apply overflow-x-hidden bg-white;
}

html {
  @apply text-[100%] overflow-x-hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #d7dde6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 21px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d7dde6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
